---
import IndexPostsContainer from "../../components/index/main/IndexPostsContainer.astro";
import IndexPost from "../../components/index/main/IndexPost";

import type {IndexHighlightPost, PostTag} from "../../apiClients/ghostPosts";

const {posts} = Astro.props;

const defaultTag: PostTag = {
    name: "default"
}
---

<div class="solitude-index-main grid grid-cols-12 pb-10 content-end">
    <IndexPostsContainer>
        {posts.map((post: IndexHighlightPost) =>
                           <IndexPost
                                   class:list={'solitude-index-post'}
                                   title={post.title}
                                   url={post.url}
                                   primary_tag={post.primary_tag ?? defaultTag}
                                   tags={post.tags}
                                   feature_image={post.feature_image}
                                   published_at={post.published_at}
                                   client:load
                           />
        )}
    </IndexPostsContainer>
</div>

<style>
    .solitude-index-main {
        height : 75vh;
    }
</style>
