---
import { initializeSiteData } from '@api/ghost/settings';
import { getPosts } from '@api/ghost/posts';
import type { PostTag } from '@api/ghost/types';
import BaseLayout from '@layouts/base/BaseLayout.astro';
import Navbar from '@layouts/base/Navbar.astro';
import Dock from '@layouts/base/Dock.astro';
import NavbarBrand from '@components/layout/navbar/NavbarBrand.astro';
import NavbarUtility from '@components/layout/navbar/NavbarUtility.astro';
import DockNav from '@components/layout/dock/nav/DockNav.astro';
import DockSocial from '@components/layout/dock/social/DockSocial.astro';
import PostsContent from '@components/posts/home/PostsContent.astro';

interface Props {
    title: string;
    feature_image: URL;
    primary_tag?: PostTag;
    tags?: PostTag[];
    published_at: string;
    html: string;
}

const {siteTitle, siteDescription, logoUrl, coverImageUrl} = await initializeSiteData();

export async function getStaticPaths() {
    const posts = await getPosts();

    return Array.from(posts, (post) => {
        return {
            params: {
                post: post.id,
            },
            props: {
                title: post.title,
                feature_image: post.feature_image,
                primary_tag: post.primary_tag ?? undefined,
                tags: post.tags ?? undefined,
                published_at: post.published_at,
                html: post.html
            }
        };
    });
}

const {title, feature_image, primary_tag, tags, published_at, html} = Astro.props;
---

<BaseLayout siteTitle={`${siteTitle} - ${title}`} coverImageUrl={coverImageUrl}>
    <Navbar isFixed={true}>
        <NavbarBrand logoImageUrl={logoUrl} siteTitle={siteTitle} siteSubTitle={siteDescription}/>
        <NavbarUtility/>
    </Navbar>
    <PostsContent
            title={title}
            feature_image={feature_image}
            primary_tag={primary_tag}
            tags={tags}
            published_at={published_at}
            html={html}
    />
    <Dock isFixed={true}>
        <div></div>
        <DockNav/>
        <DockSocial/>
    </Dock>
</BaseLayout>
