---
import '@styles/post-view.css';
import type { Post } from '@api/ghost/posts';
import { Chip } from '@components/common/badge';

interface Props {
    post: Post;
}

const { post } = Astro.props;
const postFeatureImageLightUrl = `linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)),url(${post.feature_image.toString()})`;
const postFeatureImageDarkUrl = `linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url(${post.feature_image.toString()})`;
---

<div class="post-view-card">
    <div class="post-view-card-primary-tags flex items-center justify-between">
        <div>
            <Chip variant="flat" color="primary" client:visible>
                {post.post_type}
            </Chip>
        </div>
        <div>
            <Chip variant="flat" color="secondary" client:visible>
                {post.post_series}
            </Chip>
        </div>
    </div>
    <div class="post-view-card-title flex justify-center items-center">
        <div class="text-center">
            {post.title}
        </div>
    </div>
    <div class="post-view-card-content">
        {post.excerpt}
    </div>
    <div class="post-view-card-bottom">
        <div class="text-center post-view-card-date">
            {post.published_at.split('T')[0]}
        </div>
        <div class=" post-view-card-secondary-tags">
            {
                post.post_general_tags?.map((tagName) => (
                    <Chip color="success" variant="flat" client:visible>
                        {tagName}
                    </Chip>
                ))
            }
        </div>
    </div>
</div>

<style
    define:vars={{
        postFeatureImageLightUrl: postFeatureImageLightUrl,
        postFeatureImageDarkUrl: postFeatureImageDarkUrl,
    }}
>
    .post-view-card {
        background-size: cover;
        background-image: var(--postFeatureImageLightUrl);
    }

    html.dark .post-view-card {
        background-image: var(--postFeatureImageDarkUrl);
    }
</style>
