---
import type { Post } from '@api/ghost/types';
import { Chip } from '@components/common/badge';

interface Props {
    post: Post;
}

const { post } = Astro.props;
const postFeatureImageLightUrl = `linear-gradient(rgba(255, 255, 255, 0.55), rgba(255, 255, 255, 0.55)),url(${post.feature_image.toString()})`;
const postFeatureImageDarkUrl = `linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)),url(${post.feature_image.toString()})`;
---

<div class="post-view-card h-[90%] w-[85%] rounded-[35px] px-4">
    <div class="flex h-[8%] items-center justify-between">
        <div>
            <Chip variant="flat" colorScheme="primary" client:visible>
                {post.post_type}
            </Chip>
        </div>
        <div>
            <Chip variant="flat" colorScheme="secondary" client:visible>
                {post.post_series}
            </Chip>
        </div>
    </div>
    <div
        class="mb-[10%] flex h-[15%] items-center justify-center px-6 text-2xl font-bold"
    >
        <div class="text-center">
            {post.title}
        </div>
    </div>
    <div class="h-[55%] px-4 text-lg">
        {post.excerpt}
    </div>
    <div>
        <div class="text-center">
            {post.published_at.split('T')[0]}
        </div>
        <div class="h-[10%]">
            {
                post.post_general_tags?.map((tagName: string) => (
                    <Chip colorScheme="success" variant="flat" client:visible>
                        {tagName}
                    </Chip>
                ))
            }
        </div>
    </div>
</div>

<style
    define:vars={{
        postFeatureImageLightUrl: postFeatureImageLightUrl,
        postFeatureImageDarkUrl: postFeatureImageDarkUrl,
    }}
>
    .post-view-card {
        background-size: cover;
        background-image: var(--postFeatureImageLightUrl);
    }

    .dark .post-view-card {
        background-image: var(--postFeatureImageDarkUrl);
    }
</style>
