---
import type {Post} from "api/ghost/posts";
import {POST_TYPE} from "api/ghost/posts";
import PostCardDefault from "@components/posts-view/PostCardDefault.astro";
import PostCardArticle from "@components/posts-view/PostCardArticle.astro";
import PostCardMusic from "@components/posts-view/PostCardMusic.astro";
import PostCardVideo from "@components/posts-view/PostCardVideo.astro";
import PostCardGallery from "@components/posts-view/PostCardGallery.astro";

interface Props {
    posts: Post[];
}

const {posts} = Astro.props;
---

<div class="grid grid-cols-10 post-view-container">
    {
        posts.map((post) => {
            switch (post.post_type) {
                case POST_TYPE.DEFAULT:
                    return (
                            <div class="col-span-2 flex justify-center items-center">
                                <PostCardDefault post={post}/>
                            </div>
                    );
                case POST_TYPE.ARTICLE:
                    return (
                            <div class="col-span-2 flex justify-center items-center">
                                <PostCardArticle post={post}/>
                            </div>
                    );
                case POST_TYPE.MUSIC:
                    return (
                            <div class="col-span-2 flex justify-center items-center">
                                <PostCardMusic post={post}/>
                            </div>
                    );
                case POST_TYPE.VIDEO:
                    return (
                            <div class="col-span-2 flex justify-center items-center">
                                <PostCardVideo post={post}/>
                            </div>
                    );
                case POST_TYPE.GALLERY:
                    return (
                            <div class="col-span-2 flex justify-center items-center">
                                <PostCardGallery post={post}/>
                            </div>
                    );
            }
        })
    }
</div>

<style>
    .post-view-container {
        height        : 75vh;
        width         : 100%;
        padding-left  : 1.8%;
        padding-right : 1.8%;
    }
</style>