---
import type {IndexHighlightPost} from "../../../apiClients/ghostPosts";
import IndexPost from "./IndexPost";

const {posts} = Astro.props;
---

<div class="solitude-index-post-container col-span-8 grid grid-cols-4 gap-12 px-10">
    {posts.map((post: IndexHighlightPost) =>
                       <IndexPost
                               class:list={'solitude-index-post'}
                               id={post.id}
                               title={post.title}
                               url={post.url}
                               primary_tag={post.primary_tag || undefined}
                               tags={post.tags || undefined}
                               feature_image={post.feature_image}
                               published_at={post.published_at}
                               client:load
                       />
    )}
</div>

<style>
    .solitude-index-post-container {
        height        : 14.5em;
        padding-right : 12em;
    }

    .solitude-index-post {

    }
</style>

<script>

</script>