---
import { initializeSiteData } from '@api/ghost/settings';
import BaseLayout from '@layouts/base/BaseLayout.astro';
import SiteNavbar from '@components/layout/navbar/SiteNavbar.astro';
import SiteDock from '@components/layout/dock/SiteDock.astro';

const { siteTitle, siteDescription, logoUrl, coverImageUrl } =
    await initializeSiteData();
---

<BaseLayout siteTitle={siteTitle} coverImageUrl={coverImageUrl}>
    <SiteNavbar
        logoUrl={logoUrl}
        siteTitle={siteTitle}
        siteSubTitle={siteDescription}
    />
    <div class="bg-white px-[20%] py-10 dark:bg-[#262626]">
        <h1 class="mb-6 text-4xl font-bold">关于</h1>
        <p class="mb-4">这是关于页面的内容。</p>
    </div>
    <SiteDock isFixed={true} />
</BaseLayout>
