---
import { initializeSiteData } from '@api/ghost/settings';
import BaseLayout from '@layouts/base/BaseLayout.astro';
import Navbar from '@layouts/base/Navbar.astro';
import Dock from '@layouts/base/Dock.astro';
import NavbarBrand from '@components/layout/navbar/NavbarBrand.astro';
import NavbarUtility from '@components/layout/navbar/NavbarUtility.astro';
import DockNav from '@components/layout/dock/nav/DockNav.astro';
import DockSocial from '@components/layout/dock/social/DockSocial.astro';
import ContactContent from '../components/contact/ContactContent.astro';

const { siteTitle, siteDescription, logoUrl, coverImageUrl } = await initializeSiteData();
---

<BaseLayout siteTitle={siteTitle} coverImageUrl={coverImageUrl}>
    <Navbar>
        <NavbarBrand
            logoImageUrl={logoUrl}
            siteTitle={siteTitle}
            siteSubTitle={siteDescription}
        />
        <NavbarUtility />
    </Navbar>
    <div class="bg-white dark:bg-[#262626] px-[20%]">
        <ContactContent />
    </div>
    <Dock isFixed={true}>
        <div></div>
        <DockNav />
        <DockSocial />
    </Dock>
</BaseLayout>
