---
import { initializeSiteData } from '@api/ghost/settings';
import BaseLayout from '@layouts/base/BaseLayout.astro';
import SiteNavbar from '@components/layout/navbar/SiteNavbar.astro';
import SiteDock from '@components/layout/dock/SiteDock.astro';
import PolicyContent from '../components/privacy-policy/PolicyContent.astro';

const { siteTitle, siteDescription, logoUrl, coverImageUrl } =
    await initializeSiteData();
---

<BaseLayout siteTitle={siteTitle} coverImageUrl={coverImageUrl}>
    <SiteNavbar
        logoUrl={logoUrl}
        siteTitle={siteTitle}
        siteSubTitle={siteDescription}
    />
    <div class="bg-white px-[20%] dark:bg-[#262626]">
        <PolicyContent />
    </div>
    <SiteDock isFixed={true} layout="home" />
</BaseLayout>
