---
import { initializeSiteData } from '@api/ghost/settings';
import BaseLayout from '@layouts/base/BaseLayout.astro';
import SiteNavbar from '@components/layout/navbar/SiteNavbar.astro';
import SiteDock from '@components/layout/dock/SiteDock.astro';
import PolicyContent from '../components/privacy-policy/PolicyContent.astro';

const { siteTitle, siteDescription, logoUrl, coverImageUrl } =
    await initializeSiteData();
---

<BaseLayout siteTitle={siteTitle} coverImageUrl={coverImageUrl}>
    <SiteNavbar
        logoUrl={logoUrl}
        siteTitle={siteTitle}
        siteSubTitle={siteDescription}
    />
    <main class="min-h-screen bg-[var(--background)]">
        <div class="mx-auto max-w-4xl px-6 py-12 sm:px-8 lg:px-12">
            <PolicyContent />
        </div>
    </main>
    <SiteDock isFixed={true} layout="home" />
</BaseLayout>
