---
import {Image} from "astro:assets";
import type {ImageMetadata} from "astro";

interface Props {
    logoImage: ImageMetadata,
    siteTitle: string,
    siteSubTitle: string
}

const {logoImage, siteTitle, siteSubTitle} = Astro.props;
---

<div class="solitude-navbar-brand tw-flex tw-items-center tw-px-10 tw-space-x-10 tw-h-full">
    <Image src={logoImage} alt="brand-logo" loading="eager"/>
    <div class="tw-grid tw-grid-cols-1 tw-gap-3">
        <a class="tw-text-4xl tw-font-bold tw-subpixel-antialiased">{siteTitle}</a>
        <a class="tw-text-xl tw-font-medium tw-subpixel-antialiased">{siteSubTitle}</a>
    </div>
</div>

<style>
    .solitude-navbar-brand img {
        border-radius : 20%;
        height        : 50%;
        min-height    : 100px;
        width         : auto;
    }
</style>