---
import {Image} from "astro:assets";
import type {ImageMetadata} from "astro";

interface Props {
    logoImage: ImageMetadata,
    siteTitle: string,
    siteSubTitle: string
}

const {logoImage, siteTitle, siteSubTitle} = Astro.props;
---

<div class="solitude-navbar-brand flex items-center px-10 space-x-10 h-full">
    <Image src={logoImage} alt="brand-logo" loading="eager"/>
    <div class="grid grid-cols-1 gap-3">
        <a class="text-4xl font-bold subpixel-antialiased">{siteTitle}</a>
        <a class="text-xl font-medium subpixel-antialiased">{siteSubTitle}</a>
    </div>
</div>

<style>
    .solitude-navbar-brand img {
        border-radius : 18%;
        height        : 50%;
        min-height    : 100px;
        width         : auto;
    }
</style>